.home-main
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 2;
}

.home-main .img-wrap
{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main .rookie
{
    background-image: url(images/Joinus.png);
    flex-grow: 1;
    max-height: 75vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home-main .call-action
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

.vid
{
    position: absolute;
    justify-content: space-around;
    opacity: 0.5;
    width: 100%;
    height:100vh;
    z-index: 1;
}

.vid video
{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 900px)
{
    .home-main .img-wrap
    {display: none;}

    .home-main{
        justify-content: center;
    }
}